.storybook-addons-sections__section:not(.storybook-addons-sections__story) {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    color: rgb(68, 68, 68);
    -webkit-font-smoothing: antialiased;
}
.storybook-addons-sections__context-kind {
    font-size: 1.5rem;
}
.storybook-addons-sections__context-story {
    font-size: 1rem;
    font-weight: 200;
    color: rgb(168, 168, 168);
}
.storybook-addons-sections__heading {
    margin-top: 0;
}
.storybook-addons-sections__section {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.storybook-addons-sections__infoheader h1,
.storybook-addons-sections__infoheader p {
    margin: 0;
}