.storybook-addons-sections__collapsable {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
}
.storybook-addons-sections__collapsable__btn {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.storybook-addons-sections__collapsable__btntitle {
    margin: 0;
}
.storybook-addons-sections__collapsable__btnicon {

}
.storybook-addons-sections__collapsable__content {
    padding: 0.5rem 1rem;
}
.storybook-addons-sections__collapsable__content > *:first-child {
    margin-top: 0;
}
.storybook-addons-sections__collapsable__content > *:last-child {
    margin-bottom: 0;
}